<tr class="<%= cycle("even", "odd") -%>">
  <td><%=(@pages.index(page).to_i+1).to_s%>.</td>
  <td><%=page.name%></td>
  <td>
    <%= link_to set_button("view"), page_path(page.name), :target => "_blank" %>
    <%= link_to set_button("edit"), edit_admin_page_path(page.id) %>
    <%= link_to set_button("destroy"), admin_page_path(page.id), :method => :delete %>
  </td>
</tr>
