<div id="footer">
<div>
  <a href="http://robotek.com.ua/" target="_blank"><%= image_tag "robotek_logo.gif" %></a>
  <a href="http://www.pdta.org.ua/pdta/" target="_blank"><%= image_tag "pdta_logo.gif" %></a> <br />
  <a href="http://www.rocanov.com/" target="_blank"><%= image_tag "rocanov.gif" %></a>
  <a href="http://www.ghettofuck.net/" target="_blank"><%= image_tag "ghettofuck.gif" %></a>
</div>
</div>
