<%=blogs_text_editor_javascript(:e_content=>"full")%>

<% content_for :tc_left do %>
	<h1>Articles</h1>
<% end %>
<% content_for :tc_right do%>
	<h1>Creating new</h1>
<% end %>
<%=render :partial => "includes/admin/top_control"%>
<div class="span-24">
<% form_for :article, :url => admin_articles_path, :builder => TemplatedFormBuilder do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <%= submit_tag "PUSH" %>
<% end %>
</div>
