<%= render :partial => "article", :locals => {:extended_content => true} %>
<br/>
<% if session[:user] %>
<div id="comment_list">
<%= render(:partial => "comments/comment_list", :collection => @article.comments) %>
</div>
<%= render (:partial => "comments/form", :locals => { :model => @article }) %>
<% else %>
<%=link_to "Для просмотра комментариев необходимо пройти авторизацию", login_path, :class=> "title" %>
<% end %>