<div id="menu">
 <%= link_to '[Articles]', admin_articles_path %>&nbsp;<%= link_to '[Pages]', admin_pages_path %>&nbsp;<%= link_to '[Podcstst]', admin_podcasts_path %>&nbsp;<%= link_to '[Invitations]', admin_invitations_path %>&nbsp;<%= link_to '[Users]', admin_users_path %>&nbsp;
</div>