<div id="menu">
<%= link_to 'ARTICLES', admin_articles_path %>&nbsp;
<%= link_to 'PAGES', admin_pages_path %>&nbsp;
<%= link_to 'PODCASTS', admin_podcasts_path %>&nbsp;
<%= link_to 'INVITATIONS', admin_invitations_path %>&nbsp;
<%= link_to 'USERS', admin_users_path %>&nbsp;
</div>