<% content_for :tc_left do %>
	<h1>Users</h1>
<% end %>
<% content_for :tc_right do%>
	<h1>Edit User</h1>
<% end %>
<%=render :partial => "includes/admin/top_control"%>
<div class="span-24">

<% form_for :user, :url => admin_user_path(@user), :builder => TemplatedFormBuilder, :html => {:id => "page_form", :method => :put} do |f|%>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end %>
</div>