<h1>Podcasts</h1>

<%= link_to "Create PODCAST", admin_new_podcast_url %>

<table>
  <thead>
    <tr>
      <td>Title</td>
      <td>File</td>
      <td>Date</td>
      <td>Active</td>
      <td>&nbsp;</td>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'podcast', :collection => @podcasts %>
  </tbody>
</table>

<%= pagination_links(@pages, :window_size => 30) %>
